
@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background);
  background-color: $background;
  border-color: $border;

  @include hover {
    color: color-yiq($hover-background);
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($border,.5);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    // @if $enable-gradients {
    //   background-image: none; // Remove the gradient for the pressed/active state
    // }
    border-color: $active-border;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($border,.5);
      // Avoid using mixin so we can pass custom focus shadow properly
      // @if $enable-shadows {
      //   box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
      // } @else {
      //   box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
      // }
    }
  }
}


.btn {
  display: inline-block;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0 !important;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  text-decoration:none;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;

  &:focus,
  &.focus { 
    outline: 0;
  }

  &-primary{
    @include button-variant(blue, blue);
  }

  &-success{
    @include button-variant(green, green);
  }

  &-danger{
    @include button-variant(red, red);
  }

  &-warning{
    @include button-variant(orange, orange);
  }

  &-info{
    @include button-variant(aqua, aqua);
  }

  &-light{
    @include button-variant(#ddd, #ddd);
  }

  &-dark{
    @include button-variant(black, black);
  }


  &--sm{
    font-size: .8rem;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
  }

  &-link{
    background-color: transparent;
    color: blue;
    
    &:hover {
      text-decoration: underline;
      color: darken(blue, 15%);
    }
  }
}

